# Quiz

In [3]:
import pandas as pd
import numpy as np

In [7]:
#Loading in dataset
df = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv',
                header = 0,
                index_col = 0,
                parse_dates = True)

In [11]:
df = df[['Lo 20', 'Hi 20']]
df = df / 100
df.index = pd.to_datetime(df.index, format = "%Y%m").to_period('M')

In [12]:
df.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

## Question 1, 3
What was the Annualized Return of the portfolio over the entire period?

In [18]:
#calculating volatility and anualized volatilty
vol = df[:"1927"].std()
annualized_vol = vol * np.sqrt(12)

#Anualizing Retruns
no_of_months = df.shape[0]
total_returns = (df+1).prod() -1
returns_per_month = (df+1).prod() ** (1/no_of_months) -1

#annualized return = (returns +1).prod() ** (no_of_periods/ no_of_months) -1
annualized_return = (df + 1).prod() ** (12/no_of_months) -1
annualized_return

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

## Question 2, 4
What was the Annualized Volatility of the portfolio over the entire period?

In [15]:
vol = df.std()
annualized_vol = vol * np.sqrt(12)
annualized_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

## Question 5
What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?