# Quiz

In [4]:
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

In [7]:
#Loading in dataset
df = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv',
                header = 0,
                index_col = 0,
                parse_dates = True)

In [11]:
df = df[['Lo 20', 'Hi 20']]
df = df / 100
df.index = pd.to_datetime(df.index, format = "%Y%m").to_period('M')

In [12]:
df.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

## Question 1, 3
What was the Annualized Return of the portfolio over the entire period?

In [2]:
#calculating volatility and anualized volatilty
vol = df.std()
annualized_vol = vol * np.sqrt(12)

#Anualizing Retruns
no_of_months = df.shape[0]
total_returns = (df+1).prod() -1
returns_per_month = (df+1).prod() ** (1/no_of_months) -1

#annualized return = (returns +1).prod() ** (no_of_periods/ no_of_months) -1
annualized_return = (df + 1).prod() ** (12/no_of_months) -1
annualized_return

NameError: name 'df' is not defined

## Question 2, 4
What was the Annualized Volatility of the portfolio over the entire period?

In [15]:
vol = df.std()
annualized_vol = vol * np.sqrt(12)
annualized_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

## Question 5
What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [8]:
def get_ffme_returns():
    """
    Load the Fama-French Dataset for the returns of the Top and Bottom Deciles by MarketCap
    """
    me_m = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",
                       header=0, index_col=0, na_values=-99.99)
    rets = me_m[['Lo 20', 'Hi 20']]
    rets.columns = ['SmallCap', 'LargeCap']
    rets = rets/100
    rets.index = pd.to_datetime(rets.index, format="%Y%m").to_period('M')
    return rets

def annualize_returns(r, periods_per_year):
    """
    Annualizes a set of returns
    based on periods per year
    """
    compounded_growth = (1+r).prod()
    n_periods = r.shape[0]
    return compounded_growth**(periods_per_year/n_periods)-1

In [12]:
returns = get_ffme_returns()
print(annualize_returns(returns.loc['1999-01':'2015-12', 'SmallCap'], 12))

0.11442634058514933